{% include 'ticketing/nav.html' %}
    <table class="table table-dark table-striped"> 
        <thead>
            <tr>
                <th class="text-center">Building</th>
                <th class="text-center">Unit</th>
                <th class="text-center">Tenant Name</th>
                <th class="text-center">Description</th>
                <th class="text-center">Status</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td class="text-center align-middle">{{ ticket.building }}</td>
                <td class="text-center align-middle">{{ ticket.unit }}</td>
                <td class="text-center align-middle">{{ ticket.tenant_name }}</td>
                <td class="align-middle">{{ ticket.description }}</td>
                <td class="text-center align-middle">{{ ticket.status }}</td>
                <td class="text-center">
                    <form style="background-color:transparent; margin:0 auto;" id="status-form" method="POST" action="/modify/{{ ticket.id }}/{{ selectedOption }}">
                        {% csrf_token %}
                        <div class="input-group d-flex justify-content-center">
                            <div class="icon-container">
                                <i class="fas fa-2x fa-spinner" onclick="updateStatus({{ ticket.id }}, 'In Progress')"></i>
                            </div>
                            <div class="icon-container">
                                <i class="fas fa-2x fa-check-circle" onclick="updateStatus({{ ticket.id }}, 'Closed')"></i>
                            </div>
                            <div class="icon-container">
                                <i class="fas fa-2x fa-folder-open openBtn" onclick="updateStatus({{ ticket.id }}, 'Open')"></i>
                            </div>
                            <div class="icon-container">
                                <i data-email="{{ ticket.email }}" data-status="{{ ticket.status }}" data-building="{{ ticket.building }}" data-unit="{{ ticket.unit }}" class="fas fa-2x fa-reply openBtn"></i>
                            </div>
                        </div>
                    </form>                        
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title w-100">Ticket Response</h3>
                <button type="button" class="closeBtn" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default closeBtn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $(".openBtn").on('click', function(){
            var email = $(this).data('email');
            var status = $(this).data('status');
            var building = $(this).data('building');
            var unit = $(this).data('unit');
            $.ajax({
                url: '/reply/',
                type: 'GET',
                success: function(response) {
                    $('.modal-body').html(response);
                    $('#myModal').modal('show');
                    $('#fldEmail').val(email);
                    $('#fldStatus').val(status);
                    $('#fldBuilding').val(building);
                    $('#fldUnit').val(unit);
                    $('#id_recipient').val(email);
                    $('#id_description').focus();
                },
                error: function(xhr, status, error) {
                    console.log(error);
                }
            });
        });

        $(".closeBtn").on('click', function(){
            $("#myModal").modal('hide');
        });
    });
        function updateStatus(ticket_id, status) {
            var form = document.getElementById('status-form');
            form.action = '/modify/' + ticket_id + '/' + status + '/';
            form.submit();
        }                           
</script>
</body>
</html>