{% load static %}

<!DOCTYPE html>
<html>
    <meta name="robots" content="noindex, nofollow">
    <title>Westside Stories Maintenance Tickets System</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ticketing/style.css' %}">
    <link rel="shortcut icon" type="image/ico" href="{% static 'ticketing/favicon.ico' %}"/>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="form-container">
        <h1`>Westside Stories Maintenance Tickets System</h1>`
        <h2>Submit a New Ticket</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="field-container">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="field-container text-center">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>